{
  "semi": false,
  "singleQuote": true,
  "printWidth": 160,
  "proseWrap": "never",
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "singleQuote": false,
        "wrapAttributes": false,
        "sortAttributes": false
      }
    },
    {
      "files": ["./src/locales/*.json"],
      "options": {
        "plugins": ["prettier-plugin-sort-json"]
      }
    }
  ]
}
