@import 'tailwindcss' source(none);
@source "../"; /* used for launching nextjs from another directory */
@source "../../cypress/tests/**/*.cy.tsx";

@import './app.css';
@import './themes.css';

:root {
  --header-height: 64px;
}

@theme inline {
  --spacing-0\.5e: 0.125em;
  --spacing-1e: 0.25em;
  --spacing-1\.5e: 0.375em;
  --spacing-2e: 0.5em;
  --spacing-2\.5e: 0.625em;
  --spacing-3e: 0.75em;
  --spacing-3\.5e: 0.875em;
  --spacing-4e: 1em;
  --spacing-5e: 1.25em;
  --spacing-6e: 1.5em;
  --spacing-7e: 1.75em;
  --spacing-8e: 2em;
  --spacing-9e: 2.25em;
  --spacing-10e: 2.5em;
  --spacing-11e: 2.75em;
  --spacing-12e: 3em;
  --spacing-14e: 3.5em;
  --spacing-16e: 4em;
  --spacing-20e: 5em;
  --spacing-24e: 6em;
  --spacing-28e: 7em;
  --spacing-32e: 8em;
  --spacing-36e: 9em;
  --spacing-40e: 10em;
  --spacing-44e: 11em;
  --spacing-48e: 12em;
  --spacing-52e: 13em;
  --spacing-56e: 14em;
  --spacing-60e: 15em;
  --spacing-64e: 16em;
  --spacing-72e: 18em;
  --spacing-80e: 20em;
  --spacing-96e: 24em;

  --color-bg: var(--tc-background);
  --color-accent: #1ad691;
  --color-error: #ff5252;
  --color-info: #2196f3;
  --color-success: #4caf50;
  --color-warning: #fb8c00;
  --color-darkgreen: rgb(34, 127, 35);
  --color-black-50: #bbbbbb;
  --color-black-100: #666666;
  --color-black-200: #555555;
  --color-black-300: #444444;
  --color-black-400: #333333;
  --color-black-500: #222222;
  --color-black-600: #111111;
  --color-black-700: #101010;
  --color-bg-hover: var(--tc-background-hover);
  --color-disabled: var(--tc-disabled);
  --color-bg-disabled: var(--tc-background-disabled);
  --color-read-only: var(--tc-read-only);
  --color-bg-read-only: var(--tc-background-read-only);
  --color-border: var(--tc-border);
  --color-checkbox-disabled: var(--tc-checkbox-disabled);
  --color-checkbox-bg-disabled: var(--tc-checkbox-bg-disabled);
  --color-button-selected-bg: var(--tc-button-selected-bg);
  --color-button-foreground: var(--tc-button-foreground);
  --color-button-foreground-muted: var(--tc-button-foreground-muted);
  --color-dropdown-item-hover: var(--tc-dropdown-item-hover);
  --color-dropdown-item-selected: var(--tc-dropdown-item-selected);
  --color-dropdown-menu-border: var(--tc-dropdown-menu-border);

  --font-sans: 'Source Sans Pro';
  --font-mono: 'Ubuntu Mono';

  --text-xxs: 0.625rem;
  --text-1\.5xl: 1.375rem;
  --text-2\.5xl: 1.6875rem;
  --text-4\.5xl: 2.625rem;

  --color-primary: var(--tc-primary);
  --color-primary-hover: var(--tc-primary-hover);
  --color-background: var(--tc-background);
  --color-foreground: var(--tc-foreground);
  --color-foreground-muted: var(--tc-foreground-muted);
}

body {
  background: var(--tc-background);
  color: var(--tc-foreground);
}

/* Screen reader only utility class */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
